<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
           
          </ul>
        </div>
      </nav>
<p>
    <h1 class="p-3 mb-2 bg-danger text-white">Welcome to contact page</h1>
    <div style="display:flex;justify-content:space-around;margin:20px">
    <p> BANGALORE<br>ibibo Group Pvt. Ltd<br>Indiqube Leela Galleria,<br>5th Floor, #No 23, Old Airport Road,
      <br>HAL 2nd Stage, Kodihalli Village,<br>Varthur Hobli, Ward No: 74,<br>Bengaluru, Karnataka - 560008</p>
    <p> BANGALORE<br>Ibibo Group Pvt Ltd.<br>3rd Floor, Tower B1,<br>Golden Enclave, HAL Old Airport Road,<br>Murgesh Pallya, Bengaluru,<br>Karnataka - 560017.</p>
    <p> Ph: +919945600000<br>For any Support or Complaints: Chat with Us<br>Support Time : 24*7<br>For Press enquiries: press@redbus.com<br>Only for Press/Media enquiries</p>
</div>
</body>
</html>