extends layout 

block content 
  div.container
    h1=title
    div.container(style="display:flex,justify-context:space-around")
      img(src="./images/img.jpg")
      img(src="./images/redbus.webp" style="margin-left:30px;width:300px")
      img(src="https://s2.rdbuz.com/web/images/home/awards/Business_Standard1.png", alt="")
      img(src="https://s1.rdbuz.com/web/images/home/awards/Brand_Trust_Report.png", alt="")
      img(src="https://s3.rdbuz.com/web/images/home/awards/Eye_for_Travel1.png", alt="")
    div.container1(style="display:flex;justify-context:space-around")
      p CUSTOMERS<br>36 M<br>redBus is trusted by over 36 million happy customers globally
      p OPERATORS<br>3500 network of over 3500 bus operators worldwide
      p BUS TICKETS<br>220+ M Over 220 million trips booked using redBus