extends layout 

block content 
  div.container
    h1=title 
    p Corporate Head Office-Bangalore
    div.container1(style="display:flex;justify-context:space-around;margin:20px")
      p BANGALORE<br>ibibo Group Pvt. Ltd<br>Indiqube Leela Galleria,<br>5th Floor, #No 23, Old Airport Road,
        <br>HAL 2nd Stage, Kodihalli Village,<br>Varthur Hobli, Ward No: 74,<br>Bengaluru, Karnataka - 560008
      p BANGALORE<br>Ibibo Group Pvt Ltd.<br>3rd Floor, Tower B1,<br>Golden Enclave, HAL Old Airport Road,<br>Murgesh Pallya, Bengaluru,<br>Karnataka - 560017.
      p Ph: +919945600000<br>For any Support or Complaints: Chat with Us<br>Support Time : 24*7<br>For Press enquiries: press@redbus.com<br>Only for Press/Media enquiries