extends layout 

block content 
  div.container
    h1=message
    img(src="https://st.redbus.in/Images/INDOFFER/FESTIVE200/Hero01.png" style="margin-bottom:20px")
    
    div.container(style="width:400px,float:left")
      h2 CONVENIENCE ON-THE-GO.
      p  Enjoy the following exclusive features on the redBus app<br> Last Minute Booking - In a hurry to book a bus at the last minute? Choose the bus passing from your nearest boarding point and book in a few easy steps.<br>
         Boarding Point Navigation - Never lose your way while travelling to your boarding point!<br>Comprehensive Ticket Details- Everything that you need to make the travel hassle free - rest stop details, boarding point images, chat with co-passengers, wake-up alarm and much more!<br>
    
        
